version: '3.3'

volumes:
    nux-game-mysql-data:
        driver: local
    nux-game-redis-data:
        driver: local
    nux-game-vertica-data:
        driver: local

networks:
    nux-game-network:
        driver: bridge

services:
    web:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        container_name: nux-game-nginx
        volumes:
            - ./:/var/www/nux-game
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
        networks:
            - nux-game-network
        ports:
            - "${SERVER_PORT:-80}:80"
            - "${SERVER_SSL_PORT:-443}:443"
        restart: on-failure
        tty: true
        depends_on:
            - app
    app:
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
            args:
                USER_ID: "${USER_ID:-1000}"
                USER_NAME: "${USER_NAME:-nux-game}"
                GROUP_ID: "${GROUP_ID:-1000}"
                GROUP_NAME: "${GROUP_NAME:-nux-game}"
        container_name: nux-game-app
        volumes:
            - ./:/var/www/nux-game
        networks:
            - nux-game-network
        restart: on-failure
        tty: true
        depends_on:
            - db
            - dba
            - cache
    db:
        build:
            context: .
            dockerfile: docker/mysql/Dockerfile
        container_name: nux-game-mysql
        volumes:
            - nux-game-mysql-data:/var/lib/mysql
            - ./docker/mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD:-password}"
        networks:
            - nux-game-network
        ports:
            - "${DB_PORT:-3306}:3306"
        restart: on-failure
        tty: true
    dba:
        build:
            context: .
            dockerfile: docker/vertica/Dockerfile
        container_name: nux-game-vertica
        volumes:
            - nux-game-vertica-data:/data
        environment:
            APP_DB_USER: "${DBA_USER:-dbadmin}"
            APP_DB_PASSWORD: "${DBA_PASSWORD:-vertica}"
        networks:
            - nux-game-network
        ports:
            - "${VERTICA_CLIENT_PORT:-5433}:5433"
            - "${VERTICA_MANAGEMENT_PORT:-5444}:5444"
    cache:
        build:
            context: .
            dockerfile: docker/redis/Dockerfile
        container_name: nux-game-redis
        volumes:
            - nux-game-redis-data:/data
        networks:
            - nux-game-network
        restart: on-failure
        tty: true
        ports:
            - "${REDIS_PORT:-6379}:6379"
